<html>
<head>
<title>Delivery Success</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
<style>
h1{
font-size:80px;
font-weight:800;
text-align:center;
font-family: 'Roboto', sans-serif;
}
h2
{
font-size:33px;
text-align:center;
font-family: 'Roboto', sans-serif;
margin-top:-40px;
}
p{
text-align:center;
font-family: 'Roboto', sans-serif;
font-size:14px;
}

.container
{
width:300px;
margin: 0 auto;
margin-top:15%;
}
</style>
</head>
<body>
<div class="container">
<h2>Item Delivery Failed!</h2>
<p>The item has not been sent to the receiver due to difficulties. <br>Please deliver the item back to the sender. Thank You! <br><br>You may now close this window</p>
</div>
</body>
</html>
