<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="/assets/google-analytics.css">
     <!-- Material Icons -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
     

	<title>Analytics</title>
</head>
<body>
	<!-- SIDEBAR -->
    <%- include ('dashboard_sidebar') -%>

	<section id="content">
		<nav>
			<i class='bx bx-menu toggle-sidebar' ></i>
			<form action="#">
				<div class="form-group">
				</div>
			</form>
			
		</nav>
		<div class="dash-content">
            <div class="overview">
		<!-- Main -->
        <main class="main-container">
            <div class="main-title">
              <h1 >Analytics</h1>
            </div>
            
            <div class="container mt-3">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr bgcolor="#D3D3D3">
                        <th>Product &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;</th>
                        <th>Product List Views</th>
                        <th>Product Detail Views</th>
                        <th>Product Adds to Basket</th>
                        <th>Product Removes from Basket</th>
                        <th>Product Checkouts</th>
                        <th>Unique Purchases</th>
                        <th>Basket-to-Detail Rate</th>
                        <th>Buy-to-Detail Rate</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr bgcolor="#eee">
                        <td></td>
                        <td>681<br><p class="text-muted mb-1">% Total: 100.00%</p></td>
                        <td>681<br><p class="text-muted mb-1">% Total: 100.00%</p></td>
                        <td>681<br><p class="text-muted mb-1">% Total: 100.00%</p></td>
                        <td>681<br><p class="text-muted mb-1">% Total: 100.00%</p></td>
                        <td>681<br><p class="text-muted mb-1">% Total: 100.00%</p></td>
                        <td>681<br><p class="text-muted mb-1">% Total: 100.00%</p></td>
                        <td>681<br><p class="text-muted mb-1">% Total: 100.00%</p></td>
                        <td>681<br><p class="text-muted mb-1">% Total: 100.00%</p></td>
                      </tr>
                      <tr>
                        <td>1.<a href="#"> Prom Gown</a></td>
                        <td>288</td>
                        <td>23</td>
                        <td>353</td>
                        <td>231</td>
                        <td>334</td>
                        <td>42</td>
                        <td>562</td>
                        <td>241</td>
                      </tr>
                      <tr>
                        <td>2.<a href="#"> Prom Gown</a></td>
                        <td>567</td>
                        <td>23</td>
                        <td>353</td>
                        <td>231</td>
                        <td>334</td>
                        <td>42</td>
                        <td>562</td>
                        <td>241</td>
                      </tr>
                      <tr>
                        <td>3.<a href="#"> Prom Gown</a></td>
                        <td>324</td>
                        <td>23</td>
                        <td>353</td>
                        <td>231</td>
                        <td>334</td>
                        <td>42</td>
                        <td>562</td>
                        <td>241</td>
                      </tr>
                      <tr>
                        <td>4.<a href="#"> Prom Gown</a></td>
                        <td>453</td>
                        <td>23</td>
                        <td>353</td>
                        <td>231</td>
                        <td>334</td>
                        <td>42</td>
                        <td>562</td>
                        <td>241</td>
                      </tr>
        
                    </tbody>
                  </table>
                </div>
              </div>
        </div>
          </main>
          <!-- End Main -->
    
        </div>
    
        <!-- Scripts -->
				
	</section>
	<script src="/assets/scripts/google-analytics.js"></script>
</body>
</html>