<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="/assets/graph.css">
     <!-- Material Icons -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
     <script src="https://cdn.anychart.com/js/8.0.1/anychart-core.min.js"></script>
     <script src="https://cdn.anychart.com/js/8.0.1/anychart-pie.min.js"></script>

     

	<title>Dashboard</title>
</head>
<body>
	<%- include ('dashboard_sidebar') -%>
    
	<section id="content">
		<nav>
			<i class='bx bx-menu toggle-sidebar' ></i>
			<form action="#">
				<div class="form-group">
				</div>
			</form>
			<a href="#" class="nav-link">
				<i class='bx bxs-bell icon' ></i></a>
			<div class="profile">
				<img src="user.png" alt="">
				<ul class="profile-link">
					<li><a href="#"><i class='bx bxs-user-circle icon' ></i> Account</a></li>
					<li><a href="#"><i class='bx bxs-cog' ></i>Settings</a></li>
					<li><a href="#"><i class='bx bxs-log-out-circle' ></i> Logout</a></li>
			</div>
		</nav>
		<div class="dash-content">
            <div class="overview">
		<!-- Main -->
        <main class="main-container">
            <div class="main-title">
              <p class="font-weight-bold">DASHBOARD</p>
            </div>
            
            <div class="main-cards">
    
              <div class="card">
                <a href="#">
                <div class="card-inner">
                  <p class="text-primary">PRODUCTS</p>
                  <span class="material-icons-outlined text-blue">inventory_2</span>
                </div></a> 
                <span class="text-primary font-weight-bold">249</span>
              </div>
    
              <div class="card">
            <a href="#">
                <div class="card-inner">
                  <p class="text-primary">PURCHASE ORDERS</p>
                  <span class="material-icons-outlined text-orange">add_shopping_cart</span>
                </div>
            </a> 
                <span class="text-primary font-weight-bold">83</span>
              </div>
    
              <div class="card">
                <a href="#">
                <div class="card-inner">
                  <p class="text-primary">SALES ORDERS</p>
                  <span class="material-icons-outlined text-green">shopping_cart</span>
                </div>
            </a> 
                <span class="text-primary font-weight-bold">79</span>
              </div>
    
              <div class="card">
                <a href="#">
                <div class="card-inner">
                  <p class="text-primary">INVENTORY ALERTS</p>
                  <span class="material-icons-outlined text-red">notification_important</span>
                </div>
            </a> 
                <span class="text-primary font-weight-bold">56</span>
              </div>

              <div class="card">
                <a href="#">
                <div class="card-inner">
                  <p class="text-primary">LIFETIME SALES</p>
                  <span class="material-icons-outlined text-red">notification_important</span>
                </div>
            </a> 
                <span class="text-primary font-weight-bold">$ 6,000</span>
              </div>
    
            </div>
    
            <div class="charts">
    
              <div class="charts-card">
                <p class="chart-title">Most Searched Terms</p>
                <div id="bar-chart"></div>
              </div>
    
              <div class="charts-card">
                <p class="chart-title">Wishlist and Reservation Orders</p>
                <div id="area-chart"></div>
              </div>
    
            </div>

            <div class="charts">
    
                <div class="charts-card">
                  <p class="chart-title">Top 3 Best Sellers</p>
                  <div id="bar-chart2"></div>
                </div>
      
                <div class="charts-card">
                    <p class="chart-title">Top 3 Most Viewed Product</p>
                    <div id="bar-chart3"></div>

                  </div>
              </div>
            
        </div>

          </main>
          <!-- End Main -->
    
        </div>

        <section style="height: 800px;">
           
          
                  </div>
            </div>
          </section>
          

         
    
        <!-- Scripts -->
        <!-- ApexCharts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
        <!-- Custom JS -->
				
	</section>
    
	<script src="/assets/scripts/graph.js"></script>
</body>
</html>